.gitignore 

# Node modules
node_modules/

# Build output
dist/
*.log
*.tmp

# macOS Finder files
.DS_Store

# TypeScript build cache
*.tsbuildinfo

# Temporary audio
*.wav
recordings/
!tests/fixtures/*.wav
!tests/fixtures/**/*.wav

# Local environment
.env

# VSCode

# Automation Test
tests
test-results
playwright.config.ts